.game {
  margin: auto;
  width: fit-content;
  .box {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
  }
}
.headings {
  h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
}

@mixin cent {
  width: fit-content;
  margin: auto;
}
.info {
  @include cent;
  #p1 {
    span {
      color: red;
    }
    display: none;
  }
  #p2 {
    span {
      color: blue;
    }
  }
}
#go {
  @include cent;
}
.win {
  @include cent;
  #w1 {
    span {
      color: red;
    }
  }
  #w2 {
    span {
      color: blue;
    }
  }
}
